@charset "utf-8";
  /* ########################################### Formatação da Sessão ###########################################*/
section#corpo-full{
	/*Largura*/
  width: 1000px;
  /*Espaçamento do lado de fora*/
  margin: auto;

}
  /* ########################################### Formatação do Iframe ###########################################*/
  iframe#frame-specs{
  /*Largura*/
  width: 400px;
  /*Altura*/
  height: 300px;
  /*Borda*/
  border: none;
  /*Para tira a visualização do conteudo*/
  overflow: hidden;
}
/*Esse Vai dar um Zoom nas imagens*/
iframe#frame-specs::-webkit-scrollbar{
/*Pegar a estrutura e não vai deixar como block*/
display: none;

}
